@import "modules/all";

//This is where most of my stuff is going to go

//Type

body {
	@include sans-normal;
	color: $nav-gray;
}

$highlight: #ffdb61;

.nav-type {
	@include slab-italic;
	color: $nav-gray;
	font-size: em(32);
	text-decoration: none;
}

h4 {
	@include slab-bold;
	color: $nav-black;
	font-size: em(30);
	margin: 0;
}

h3 {
	@include sans-bold;
	color: $green;
	font-size: em(14);
	text-transform: uppercase;
	margin: 0;
}

//Paragraphs

#philosophy p {
	font-size: em(28);
}

#about p {
	font-size: em(14);
}

//Actual page styles

#container {
	margin: 36px auto;
	//max-width: 834px;
	width: 65%;
}

section {
	clear: both;
}

//Logo image replacement
#logo {
	background-image: url(../img/logo.jpg);
	width: 546px;
	height: 63px;
	margin: 0 auto;
}


.work-box {
	float: left;
	margin-right: percentage(30px / 834px);
}
	//No margin on last image
	#work .fan-content div:last-child {
		margin-right: 0;
	}

//About

#portrait {
	margin-bottom: 44px;
}

#aporto, #scoland {
	width: percentage(390px / 834px);
	border-top: 1px solid $border;
}

	#aporto {
		float: left;
	}

	#scoland {
		float: right;
	}

#about li a {
	text-decoration: none;
	font-family: 'socialicoregular';
	color: $green;
	font-size: em(30);
	display: inline-block;
}
	#about {

		p {
			clear: both;
			position: relative;
			bottom: 1em;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			bottom: .6em;
		}

		li {
			float: left;
		}
	}