@import "modules/all";

//This is where most of my stuff is going to go

//Type

body {
	@include sans-normal;
	color: $nav-gray;
}

$highlight: #ffdb61;

.nav-type {
	@include slab-italic;
	color: $nav-gray;
	font-size: em(32);
	text-decoration: none;
}

h2 {
	font-size: 16px;
}

h4 {
	@include slab-bold;
	color: $nav-black;
	font-size: em(30);
	margin: 0;
}

h3 {
	@include din-condensed;
	color: $green;
	font-size: em(14);
	text-transform: uppercase;
	margin: 0;
}

//Paragraphs

#philosophy p {
	font-size: em(28);
}

#about p {
	font-size: em(14);
}

//Actual page styles

// Fan things

header {
	margin-bottom: 10%;
}
#container {
	margin: 36px auto;
	//max-width: 834px;
	width: 65%;
}

#fan section {
	clear: both;
	border-top: 1px solid $border;
}

.fan-content {
	border-top: 1px solid $border;
	padding-top: 20px;
}

//Plus and minus
.plus a:hover:after {
	content: "+";
	float: right;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: .7em;
	position: relative;
	top: 7px;
	right: 30px;
}

.minus a:hover:after {
	content: "-";
}

//Logo image replacement
#logo {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}


.work-box {
	float: left;
	margin-right: percentage(30px / 834px);
	margin-bottom: 5%;
	cursor: pointer;


	// #partisan-box, #bock-box, #lola-box {
	// 	width: 258px;
	// 	height: 163px;
	// 	display: block;

	// 	&:hover {
	// 		background-position: -258px 0;
	// 	}
	// }

	// #partisan-box {
	// 	background:url('../img/partisan.jpg') no-repeat 0 0 ;
	// }

	// #bock-box {
	// 	background:url('../img/bock.jpg') no-repeat 0 0 ;
	// }

	// #lola-box {
	// 	background:url('../img/lola.jpg') no-repeat 0 0 ;
	// }
}

	.box-h3 {
		color: #fff;
		position: relative;
		top: 72px;
		text-align: center;
	}

	#partisan-box, #bock-box, #lola-box {
		width: 258px;
		height: 163px;
	}

	#partisan-box {
		background:url('../img/partisan.jpg');
	}

	#bock-box {
		background:url('../img/bock.jpg');
	}

	#lola-box {
		background:url('../img/lola.jpg');
	}

		.box-bkg {
			background: rgba(120, 194, 125, 1);
			position: absolute;
			height: inherit;
			width: 258px;
			opacity: 0;

			&:hover {
				opacity: 1;
			}
		}

		.work-link {
			text-decoration: none;
			display: block;
			height: 100%;
		}
	//No margin on last image
	#work .fan-content div:last-child {
		margin-right: 0;
	}

//About

#portrait {
	margin-bottom: 44px;
}

#aporto, #scoland {
	width: percentage(390px / 834px);
	border-top: 1px solid $border;
}

	#aporto {
		float: left;
	}

	#scoland {
		float: right;
	}

#about li a {
	text-decoration: none;
	font-family: 'socialicoregular';
	color: $green;
	font-size: em(30);
	display: inline-block;
}
	#about {

		p {
			clear: both;
			position: relative;
			bottom: 1em;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			bottom: .6em;
		}

		li {
			float: left;
		}
	}

// Popover styles

#popover {
	display: none;
}

.pop-main {
	h2 {
		@include slab-bold;
		font-size: em(31);
		color: $nav-black;
		border-bottom: 1px solid $border;
		padding-bottom: 1%;
		margin-bottom: 4%;
	}
}

#partisan-big {
	padding: 2px;
	border: 1px solid $border;
}

.work-main, .work-side {
	margin-top: 40px;
}

.work-main {
	width: percentage(546px / 833px);
	float: left;
	border-top: 1px solid $border;
}

.work-side {

	a {
		color: $nav-black;
	}
	width: percentage(257px / 833px);
	float: right;
	border-top: 1px solid $border;

	#services {
		border-top: 1px solid $border;
		margin-top: 40px;
	}
}

.fancybox-nav span {
	color: $green;
	@include sans-bold;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	text-decoration: underline;
}