@import "modules/all";

//This is where most of my stuff is going to go

//Type

$highlight: #ffdb61;

.nav-type {
	@include slab-italic;
	color: $nav-gray;
	font-size: em(32);
	text-decoration: none;
}

h4 {
	@include slab-bold;
	color: $nav-black;
	font-size: em(30);
}