//This will be for modules, stuff that won't output any actual CSS

//@font face

@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Font Mixins

//em function
$basefont: 16;

@function em($target, $context: $basefont) {
    @return ($target / $context) * 1em;
}

@mixin slab-italic {
	font-family: "museo-slab",serif;
	font-style: italic;
	font-weight: 100;
}

@mixin slab-bold {
	font-family: "museo-slab",serif;
	font-style: normal;
	font-weight: 800;
}

@mixin sans-normal {
	font-family: "museo-sans",sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin sans-bold {
	font-family: "museo-sans",sans-serif;
	font-style: normal;
	font-weight: 500;
}

@mixin din-condensed {
	font-family: "din-condensed-web",sans-serif;
	font-style: normal;
	font-weight: 400;
}

//colors
$nav-gray: #535353;
$body-gray: #78c27d;
$nav-black: #292929;
$green: #78c27d;
$border: #bfbfbf;